main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.main-heading {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #44475b;
  line-height: 6rem;
}

.main-sub-heading {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #7c7e8c;
  font-size: 1.5rem;
  font-weight: 500;
}

main img {
  width: 80vw;
  margin-top: 0rem;
}

main a {
  text-decoration: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  background-color: #04ad83;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  font-weight: 500;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #7d7e83;
}