* {
    padding-left: 5px;
}
.container {
    display: flex;
    padding-top: 6rem;
}

.container-left {
    padding-right: 200px;
}
.para-1 {
    color: #44475b;
    font-size: 4rem;
    line-height: 0%;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.para-2 {
    font-size: 1.3rem;
    color: rgb(153, 150, 150);
}

.container-right {
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 80px;
}

.stock {
    display: flex;
    padding: 10px;
    gap: 20px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 10px;
    margin-right: 180px;
    cursor: pointer;
}

.stock img {
    width: 40px;
    height: 50px;
}

.stock p {
    font-size: 1.2rem;
}

.stock i {
    padding: 20px;
    padding-left: 200px;
}

.stock:hover {
    background-color: beige;
}

.mutual {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    gap: 20px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 10px;
    margin-right: 180px;
    cursor: pointer;
}

.mutual img {
    width: 40px;
    height: 50px;
}

.mutual p {
    font-size: 1.2rem;
}

.mutual i {
    padding: 20px;
    padding-left: 175px;
}

.mutual:hover {
    background-color: beige;
}

.futures {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    gap: 20px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 10px;
    margin-right: 180px;
    cursor: pointer;
}

.futures img {
    width: 40px;
    height: 50px;
}

.futures p {
    font-size: 1.2rem;
}

.futures i {
    padding: 20px;
    padding-left: 190px;
}

.futures:hover {
    background-color: beige;
}